# ======================
# Python / Django
# ======================
__pycache__/
*.py[cod]
*.pyo
*.log
*.sqlite3

# Virtual environment
venv/
.env
*.env
.env.*
!.env.example

# Django static / media
/staticfiles/
/media/

# Django local settings
config/settings/local.py

# ======================
# Database
# ======================
*.sql
*.db

# ======================
# Node / Frontend
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# Coverage / Test
# ======================
.coverage
htmlcov/
.pytest_cache/

# ======================
# Secrets
# ======================
*.pem
*.key

# ======================
# AI Model Files (Large)
# ======================
*.pth
*.pt
*.onnx
*.h5
*.hdf5
*.pkl
*.joblib
modAI/model/

# ======================
# CDSS Storage (Runtime Data)
# ======================
CDSS_STORAGE/


# local docker 저장소
orthanc-docker/
openemr-docker/
patient_data/